* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}
img{
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding: 10px 20px;
    align-items: center;
   
}

.nav-child2 ul {
    display: flex;
    justify-content:space-between;
    list-style: none;
    gap: 30px;

}

ul a {
    text-decoration: none;
    color:#575757 ;
}

ul a:hover {
    background-color: aliceblue;
}

.common-button {

    background-color: #1D4ED8;
    border: none;
    color: white;
}

.register-button {

    height: 50px;
    width: 130px;
    border-radius: 10px;
    padding: 5px 10px;

}

.register-button:hover {
    background-color:darkgray;
}

.register-button:active {
    background-color: aliceblue;
      height: 50px;
    width: 110px;
}

/*  navbar section ends here */


/*  header hero-section starts */

 header {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/banner.jpg');
        height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;

        
 

  
}

.hero-parent{
   color: white;
   text-align: center;
   display: flex;
   flex-direction: column;


}



.hero-parent .first-parent .head-h1 {
       
       margin-top: 150px;
       margin-bottom: 30px;
       text-align: center;
       font-family: "Inter", sans-serif;
       font-size: 3rem;


}


.hero-parent .first-parent .head-para {
    margin: 30px 0px;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;


}

.hero-button {

    margin-top: 55% ; 
    width: 210px;
    height: 50px;
    border-radius: 15px;
    padding: 7px 14px;

}

.hero-button:hover {
                 
        background-color: grey;
} 

.hero-button:active {

       width: 212px;
       height: 60px;
       background-color: aliceblue;

} 
/* header hero-section ends  */


/* main section start */

/* speaker info section starts */

.main-sec1 {
    background-color: white;
    display: grid;
    justify-content: center;
  
  
  
    

}

.main-hero-parent {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;


}

.section-heading {
                 text-align: center;
                 margin: 80px auto 40px auto;

}

.speaker-img {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
             
}

.speaker-info {
             margin:20px 0px 25px 10px  ;
              display: flex;
              flex-direction: column;
              gap: 20px; 
     
}


.speaker-post {
                color: #575757;
}
    
.speaker-info a {
                 text-decoration: none;
                 color: #2563EB;
}

.main-sec2 {
    margin: 20px auto 150px auto;
}


/* speaker info section ends */


/* card section starts  */

.card-sec {
           background-color: white;
           margin: 20px auto 100px auto;

}


.card-sec .full-style-card  .card-head{ 
                     text-align: center;
                     margin-top:0px ;
                     padding-top: 15px;
}


.card-head-para {
                text-align: center;
                margin: 20px auto 30px auto;
                color: #575757;

}

.card-parent {
              display: flex;
              justify-content: center;
              gap: 20px;
       



}

.single-card {
    border: 1px solid #e5e7eb;;
    border-radius:12px;
    background-color: white;
    padding: 40px 32px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.05);
    width: 270px;



}

.single-card-head {
     margin: 0px auto 10px 0px;
     color: #888888;
   

        
                   

}


.price-tag {
            margin: 0px auto 10px 0px;
            color: #0D1B2A;

}

.card-para-person {
              margin: 0px auto 10px 0px;
              color: #888888;



}



.card-border {
              border: none;
              border-bottom: 1px solid #e5e7eb;
              margin: 28px auto 28px auto;
}

 .card-list-parent {
    display: grid;
    gap: 20px;
              
 }

 .card-list-parent li::marker {
   color: #2563EB;

 }

 /* pro card styling */

 .pro-single-card {

    border: 1px solid #0D1B2A;
    border-radius:12px;
    background: #0d1b2aFF;
    padding: 40px 32px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.05);
    width: 270px;

      transform-style: preserve-3d;
      box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25), 
                    0px 15px 25px rgba(0, 0, 0, 0.15); 
    transform: translateZ(30px); 
    
 }

 .pro-card-head {
    color: #93C5FD;
       margin: 0px auto 10px 0px;
                 

 }

 .pro-card-pricing{
    color: white;
    margin: 0px auto 10px 0px;
 }

 .pro-card-list-parent {
    color: white;
 }

/* pro card styling ends  */

.all-card-button {
    display: block;
    height: 46px;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius:10px ;
    margin: 30px 0px 30px 0px;

   
  

}

.mama{
    text-align: center;
     display: grid;
    justify-content: center;
}

.standard-button{
    border: 1px solid #2563EB ;
    color: #2563EB;
    background-color: white;

}

.standard-button:hover {
    


}

.contact-us-button {
    border: 1px solid #0D1B2A;
    color: #0D1B2A;


}

/* card section ends here  */










    